extends layout

block content

  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Detalles de Alumno:
          .row.rowtabla
            form(action='/administrar/crear' method='post')
              .row
                each alumno in Alumno
                  .col
                    label.form-label(for='numControl') No. de Control
                    input#nocontrol.form-control(type='text' readonly value= alumno._id)
                    label.form-label(for='nombre') Nombre:
                    input#nombre.form-control(type='text' readonly value= alumno.Nombre_s)
                    label.form-label(for='apPaterno') Apellido paterno:
                    input#apPaterno.form-control(type='text' readonly value= alumno.Apellido_Paterno)
                    label.form-label(for='apMaterno') Apellido Materno:
                    input#apMaterno.form-control(type='text' readonly value= alumno.Apellido_Materno)
                    label.form-label(for='grupo') Grupo:
                    input#grupo.form-control(type='text' readonly value= alumno.Grupo)
                    label.form-label(for='especialidad') Especialidad:
                    input#especialidad.form-control(type='text' readonly value= alumno.Carrera_Tecnica)
                    label.form-label(for='turno') Turno:
                    input#turno.form-control(type='text' readonly value= alumno.Turno)
                  .col
                    label.form-label(for='generacion') Generaci&oacute;n:
                    input#generacion.form-control(type='text' readonly value= alumno.Generacion)
                    label.form-label(for='sexo') Sexo:
                    input#sexo.form-control(readonly value= alumno.Genero)
                    label.form-label(for='curp') CURP:
                    input#curp.form-control(type='text' readonly value= alumno.CURP)
                    .row
                      .col
                        label.form-label(for='correo1') Correo 1:
                        input#correo1.form-control(type='email' readonly value= alumno.Correo_Electronico_1)
                      .col
                        label.form-label(for='correo2') Correo 2:
                        input#correo2.form-control(type='email' readonly value= alumno.Correo_Electronico_2)
                    .row
                      .col
                        label.form-label(for='lada') Lada:
                        input#lada.form-control(type='number' readonly value= alumno.Clave_lada)
                      .col
                        label.form-label(for='telefonoFijo1') Telefono fijo 1:
                        input#c.form-control(type='number' readonly value= alumno.Telefono_de_contacto_fijo_1)
                    label.form-label(for='telefonoFijo2') Telefono fijo 2:
                    input#telefonoFijo2.form-control(type='number' readonly value= alumno.Telefono_de_contacto_fijo_2)
                    label.form-label(for='telefonoMovil') Telefono Movil:
                    input#telefonoMovil.form-control(type='number' readonly value= alumno.Telefono_movil_celular)
                    .row
                      .col(style='text-align: right; padding-top: 10px')
                        a.btn(href='/administrar/solicitudes') Cancelar
                        button.btn.btn-danger(type='submit', onclick='registar()')
                          | Registar