extends layout

block content

  .row
    .col
      .btn-group(role='group' aria-label='Navs')
        a.btn.btn-primary#pg(type='button' href='/administrar') General   
          i.bi.bi-caret-right
        button.btn.btn-primary#pg(type='button' disabled) Libros   
  .container-fluid.botonera
    .row.hijo 
      .col
        a.ov-btn-grow-spin(href= '/administrar/admin_buscar')
          img(src='../images/be.png' alt='Buscar y editar libros')
          br
          | Buscar y editar libros
      .col
        a.ov-btn-grow-spin(href='/administrar/registrar_libro')
          img(src='../images/rlib.png' alt='Registrar libro')
          br
          | Registrar libro
    .row 
      p 