extends layout

block content
  .container-fluid
    
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Editar libro
          .row.rowtabla
            .col-4
              .row
                img.dic(src='/images/diccionario.png')
              
              .row
                .col
                  .input-group.file
                    input#inputGroupFile04.form-control(type='file', aria-describedby='inputGroupFileAddon04', aria-label='Upload')
                    button#inputGroupFileAddon04.ov-btn-grow-spin.guardar(type='button') Guardar

            .col-8
              .container-fluid
                br
                h5 Datos del libro
                .row
                  form(action='/administrar/libro/editar' method='post')
                    .row
                      each libro in Libro
                        .col
                          label.form-label(for='nombre') Nombre:
                          input#nombre.form-control(type='text' name='nombre' requerid  value= libro.Nombre)
                          label.form-label(for='autor') Autor:
                          input#autor.form-control(type='text' name='autor' requerid value= libro.Autor.join())
                          label.form-label(for='editorial') Editorial:
                          input#editorial.form-control(type='text' name='editorial' required value= libro.Editorial)
                          label.form-label(for='lugarE') Lugar edición:
                          input#lugarE.form-control(type='text' name='lugarE' required value= libro.LugarEdicion)
                          label.form-label(for='fechaE') Fecha edición:
                          input#fechaE.form-control(type='text' name='fechaE' required value= libro.FechaEdicion)
                          label.form-label(for='anioE') Año entrada:
                          input#anioE.form-control(type='text' name='anioE' required value= libro.AñoEntrada)
                          label.form-label(for='unidadesD') Unidades Disponibles:
                          input#unidadesD.form-control(type='number' name='unidadesD' required value= libro.UnidadesDisponibles)
                        .col
                          label.form-label(for='totalU') Total Unidades:
                          input#totalU.form-control(type='number' name='totalU' required value= libro.TotalUnidades)
                          label.form-label(for='numP') Número págs.:
                          input#numP.form-control(type='number' name='numP' required value= libro.NumPag)
                          label.form-label(for='numI') Número inventario:
                          input#numI.form-control(type='number' name='numI' required value= libro.NumInventario)
                          .row
                            .col
                              label.form-label(for='anaquel') Anaquel - Charola:
                              input#anaquel.form-control(type='text' name='anaquel' required value= libro.AnaquelCharola)
                            .col
                              label.form-label(for='clasificacion') Clasificación:
                              input#clasificacion.form-control(type='text' name='clasificacion' requerid value= libro.Clasificacion)
                          
                          label.form-label(for='observaciones') Observaciones:
                          textarea#observaciones.form-control(type='text' name='observaciones' requerid )=libro.Observaciones
                          label.form-label(for='descripcion') Descripción:
                          textarea#descripcion.form-control(type='text' name='descripcion' requerid )=libro.Descripcion
                          
                          .row
                            .col(style='text-align: right; padding-top: 10px')
                              a.btn.btn-danger(href='/administrar/admin_buscar') 
                                | Cancelar
                            .col(style='text-align: right; padding-top: 10px')
                         
                              button.btn.btn-success(type='submit')
                                | Guardar      