extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Resultados: de busqueda
          .row.rowtabla
            .col
              table#tablaAlumno.table.table-bordered.tabla
                thead
                  tr
                    th(scope='col') Nombre
                    th(scope='col') Autor
                    th(scope='col') Editorial
                    th(scope='col') Unidades Disponibles
                    th(scope='col') Ver detalles
                tbody
                  tr
                    th Titulo 1
                    td Autor 1
                    td Editorial 1
                    td(align='center') 3
                    td(align='center')
                      a(href='/administrar/vista-libro')
                        img(src='/images/icon-mas.png', width='30px')
                  tr
                    th Titulo 2
                    td Autor 2
                    td Editorial 2
                    td(align='center')
                      div 8
                    td(align='center')
                      a(href='/administrar/vista-libro')
                        img(src='/images/icon-mas.png', width='30px')
                  tr
                    th Titulo 3
                    td Autor 3
                    td Editorial 3
                    td(align='center') 6
                    td(align='center')
                      a(href='/administrar/vista-libro')
                        img(src='/images/icon-mas.png', width='30px')
                  tr
                    th Titulo 4
                    td Autor 4
                    td Editorial 4
                    td(align='center') 6
                    td(align='center')
                      a(href='/administrar/vista-libro')
                        img(src='/images/icon-mas.png', width='30px')
                  tr
                    th Titulo 5
                    td Autor 5
                    td Editorial 5
                    td(align='center') 6
                    td(align='center')
                      a(href='/administrar/vista-libro')
                        img(src='/images/icon-mas.png', width='30px')
                  tr
                    th Titulo 6
                    td Autor 6
                    td Editorial 6
                    td(align='center') 6
                    td(align='center')
                      a(href='/administrar/vista-libro')
                        img(src='/images/icon-mas.png', width='30px')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous") 
