extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Detalles de Libro:
          .row.rowtabla
            .col-4
              .row
                img.dic(src='/images/diccionario.png')
              .row
                .col
                  if status != "En Espera"
                    .alert.alert-info(role='alert')
                      | Esta solicitud ya fue procesada
                  else
                    -var url = "/administrar/aceptar_prestamo/" + id_sol
                    a.btn.btn-success.opciones(type='button', href=url)
                      | Aceptar
                .col
                  if status != "En Espera" 
                    a.btn.btn-danger.opciones(type='button', href='/administrar/solicitudes')
                      | Regresar
                  else
                    -var url1 = "/administrar/denegar_prestamo/" + id_sol
                    a.btn.btn-danger.opciones(type='button', href=url1) 
                      | Denegar
            .col-8
              .container-fluid
                br
                h5 Datos del libros
                .row
                each libro in Libro
                  .col
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Nombre)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Nombre
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Autor.join())
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Autor(es)
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Editorial)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Editorial
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Lugar_Edicion)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Lugar de Edición
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Fecha_Edicion)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Fecha de Edición
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Año_Entrada)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Año Entrada
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Unidades_Disponibles)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Unidades Disponibles
                    
                  .col
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Total_Unidades)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Total Unidades
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Num_Pag)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Número de Páginas
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Num_Inventario)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Número de Inventario
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Anaquel_Charola)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Anaquel Charola
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Clasificacion)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Clasificación
                    .form-floating.mb-3
                        input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Observaciones)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Observaciones
                    
                  .row
                    .col 
                      .form-floating.mb-3
                        textarea#descripcion.form-control(type='text' name='descripcion' readonly value=libro.Descripcion)
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Descripción