extends layout

block content
  .container-fluid
    .row
      .col
        nav.navbar.navbar-light.bg-light.barrabusqueda1
          form.container-fluid.justify-content-start
            .col-3.barrabusqueda
              input.form(type='search' placeholder='Titulo' style='width: 100%')
            .col-3.barrabusqueda
              input.form(type='search' placeholder='Autor' style='width: 100%')
            .col-3.barrabusqueda
              input.form(type='search' placeholder='Editorial' style='width: 100%')
            .col.botonbusqueda
              button.btn.btn-outline-success(type='submit')
                img(src='/images/buscar.png' width='20px')
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Resultados: de busqueda
          .row.rowtabla
            .col-4
              .row
                img(src='/images/diccionario.png' width='25px')
              .row
                .col
                  button.btn.btn-primary(type='button')
                    | Primary
                .col
                  button.btn.btn-danger(type='button') Editar
            .col-8
              .container-fluid
                .row
                  .col
                    h5 Datos del libro
                    p Nombre: Libro 1
                    p Autor: Autor 1
                    p Editorial: Editorial 1
                    p Lugar de edicion: M&eacute;xico
                    p Fecha de edicion: 1990
                    p A&ntilde;o de entrada: 1994
                    p &Aacute;rea: Matematicas
                  .col
                    p Unidades disponibles: 1
                    p Total de Unidades: 1
                    p N&uacute;m. pags: 256
                    p Anaquel-Charola: 6-4
                    p claificacion: 310
                    p Observaciones: Buen estado
                .row
                  p El multifacético Adrián Paenza no es un escritor más, de
                      hecho este es su primer libro. No solo es el periodista
                      deportivo que entrevistó a Maradona en 1994 (cuando surgió
                      su famosa frase ..."me cortaron las piernas...") y el
                      responsable directo de que la Argentina tuviera un
                      programa de tv de la NBA que dio animo a futuras estrellas
                      como Ginobili, sino que también es Licenciado y Doctor en
                      Ciencias Matemáticas y profesor universitario de materias
                      relacionadas a la matemática desde 1979