extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Detalles de Libro:
          .row.rowtabla
            .col-4
              .row
                img.dic(src='/images/diccionario.png')
              .row
                .col
                  if status != "En Espera"
                    .alert.alert-info(role='alert')
                      | Esta solicitud ya fue procesada
                  else
                    -var url = "/administrar/aceptar_prestamo/" + id_sol
                    a.btn.btn-success.opciones(type='button', href=url)
                      | Aceptar
                .col
                  if status != "En Espera" 
                    a.btn.btn-danger.opciones(type='button', href='/administrar/solicitudes')
                      | Regresar
                  else
                    -var url1 = "/administrar/denegar_prestamo/" + id_sol
                    a.btn.btn-danger.opciones(type='button', href=url1) 
                      | Denegar
            .col-8
              .container-fluid
                br
                h5 Datos del libros
                .row
                each libro in Libro
                  .col
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Nombre
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Nombre)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Autor(es)
                        .col-sm-10
                            input#colFormLabelSm.form-select.form-select-sm(type='text' readonly value= libro.Autor)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Editorial
                        .col-sm-10
                            input#colFormLabelSm.form-select.form-select-sm(type='text' readonly value= libro.Editorial)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Lugar de Edición
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Lugar_Edicion)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Fecha de Edición
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Fecha_Edicion)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Año Entrada
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Año_Entrada)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Unidades Disponibles
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Unidades_Disponibles)
                    
                  .col
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Total Unidades
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Total_Unidades)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Número de Páginas
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Num_Pag)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Número de Inventario
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='number' readonly value= libro.Num_Inventario)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Anaquel Charola
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Anaquel_Charola)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Clasificación
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Clasificacion)
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Observaciones
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='text' readonly value= libro.Observaciones)
                    
                  .row
                    .col 
                      .row.mb-3
                          label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Descripción
                          .col-sm-10
                              textarea#descripcion.form-control(type='text' name='descripcion' readonly value=libro.Descripcion)