extends layout

block content

  .row#gbt
    .col
      .btn-group(role='group' aria-label='Navs')
        a.btn.btn-primary#pg(type='button' href='/administrar') General   
          i.bi.bi-caret-right
        button.btn.btn-primary#pgf(type='button' disabled) Leer QR  
  .container-fluid.botonera
    .row.hijo 
      .col
        a.ov-btn-grow-spin(href= '/administrar/admin_entregar_libro')
          img(src='../images/entregar.png' alt='Entregar libro')
          br
          | Entrega de libro
      .col
        a.ov-btn-grow-spin(href='/administrar/admin_devolver_libro')
          img(src='../images/devolver.png' alt='Devolver libro')
          br
          | Devolución de Libro
    .row 
      p 