extends layout

block content
    .container-fluid.botonera
      .row.hijo 
        .col
          a.ov-btn-grow-spin(href= '/administrar/libros')
            img(src='../images/investigacion.png' alt='Investigacion')
            br
            | Buscar y solicitar libro
        .col
          a.ov-btn-grow-spin(href='/administrar/solicitudes')
            img(src='../images/libros.png' alt='Libros')
            br
            | Entregas y solicitudes
      .row 
        p 