extends layout

block content
  script(src="/js/botonSesion.js")
  .login
    br
    h1 Iniciar sesión
    form(action='/verify', method='post')
      .loginformlabel
      label(for='username')
        i.fas.fa-user
        | ㅤ
        .loginforminput
      input#username(type='text', name='username', placeholder='Usuario', required='')
      .loginformlabel
      label(for='password')
        i.fas.fa-lock
        | ㅤ
        .loginforminput
      input#password(type='password', name='password', placeholder='Contraseña', required='')
      .loginformlabel
       
      button.boton1(type='button', onclick='submit();') Ingresar
      br
      br
      if {data}
        h5(style='color:red') #{message}
      br
      br


