extends layout

block content
  .container-fluid
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Registrar libro
          .row.rowtabla
            .col-4
              .row
                img(src='/images/diccionario.png' width='25px')
              .row
                .col
                  a.btn.btn-primary(type='button', href='/administrar/admin_buscar')
                    | Cancelar
                .col
                  a.btn.btn-danger(type='button', href='/administrar/editar_libro') 
                    | Editar
            .col-8
              .container-fluid
                br
                h5 Datos del libros
                .row
                  .col
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    
                  .col
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            input#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm') 
                    
                .row
                  .col 
                    .row.mb-3
                        label.col-sm-2.col-form-label.col-form-label-sm(for='colFormLabelSm') Email
                        .col-sm-10
                            textarea#colFormLabelSm.form-control.form-control-sm(type='email' placeholder='col-form-label-sm')