extends layout

block content
  .container-fluid
    .row
      .col
        nav.navbar.navbar-light.bg-light.barrabusqueda1
          form.container-fluid.justify-content-start
            .col-3.barrabusqueda
              input.form(type='search' placeholder='Titulo' style='width : 100%;')
            .col-3.barrabusqueda
              input.form(type='search' placeholder='Autor' style='width : 100%;')
            .col-3.barrabusqueda
              input.form(type='search' placeholder='Editorial' style='width : 100%;')
            .col.botonbusqueda
              button.btn.btn-outline-success(type='submit')
                img(src='/images/buscar.png' width='20px')
    .row
      .col
        .container-fluid
          .row.barraresultado
            .col Resultados: de busqueda
          .row.rowtabla
            form(action='')
            .row
                .col
                    h4 No. de Control
                    input.form-control(type='text' name='NoControl')
                    h4 Nombre:
                    input.form-control(type='text' name='Nombre')
                    h4 Grupo:
                    input.form-control(type='text' name='Grupo')
                    h4 Especialidad
                    input.form-control(type='text' name='Especialidad')
                    h4 Turno
                    input.form-control(type='text' name='Turno')
                .col
                    h4 Generación:
                    input.form-control(type='text' name='Generación')
                    h4 Sexo:
                    input.form-control(type='text' name='Sexo')
                    h4 CURP:
                    input.form-control(type='text' name='CURP')
                    h4 Correo:
                    input.form-control(type='text' name='Correo')
                    h4 Telefono:
                    input.form-control(type='text' name='Telefono')
                    .row
                        .col(style='text-align:right; padding-top:10px')
                            button.btn(type='') Cancelar
                            button.btn.btn-danger(type='submit' href='#') Registar
